<div class="jumbotron">
  <h2>AngularJS + MongoDB demo</h2>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Click the '<strong><a ng-href='/list'>List</a></strong>' button for pagination/sorting/search....
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <p>For more, visit William Jiang <a ng-href="http://williamjxj.com">tech blog...</a></p>
</div>
